.main{
	display: inline-flex;
}
.products-display{
	margin-left: 50px;
	margin-top: 30px;
	width: 1000px;
}
.product-template{
	width: inherit;
	height: 170px;
	background: rgb(240,240,230);
	margin-bottom: 20px;
	border: 1px solid black;
	border-radius: 10px;
}
.product-template:hover{
	box-shadow: -2px 3px rgb(200,200,200);
	transition: 0.2s ease-out;
	margin-left: 2px;
}
.product-template a{
	color: rgb(200,10,20);
}
.product-picture{
	background-image: url('/static/images/productPictureSample.jfif');
	width: 20vw;
	height: inherit;
	background-repeat: no-repeat;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px
}
.product-content{
	display: flex;
	margin: 0;
	width: inherit;
	height: inherit;
}
.product-title{
	font-size: 20px;
	height: 50px;
	font-weight: bold;
	color: rgb(10,10,100);
	border-radius: 5px;
	padding: 1px;
}
.product-price{
	margin-left: 30px;
	font-size: 18px;
}
.product-details{
	display: inline-flex;
	margin-top: 10px;
	margin-left: 20px;
}
.product-details-first{
	font-size: 18px;
	margin-left: -580px;
	margin-top: 40px;
}
.product-details-second{
	font-size: 18px;
	margin-left: 100px;
	margin-top: 40px;
}
.product-details-third{
	font-size: 20px;
	margin-left: -400px;
	margin-top: 110px;
}
#explore{
	background: lightyellow;
}
#explore:hover{
	background: rgb(250,200,200);
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	transition: 0.5s;
}
.product-details-fourth{
	font-size: 20px;
	border-top: 1px solid black;
	border-top-left-radius: 5px;
	margin-left: -450px;
	margin-top: 135px;
}
.product-details-headings{
	color: blue;
}
.categories{
	margin-left: 20px;
	margin-top: 25px;
	width: 120px;
	height: 450px;
	padding-top: 20px;
	background: rgb(180,200,200);
	border-radius: 20px;
}
.category{
	margin-bottom: 20px;
}
.category li{
	margin-bottom: 10px;
}
.category-title{
	color: blue;
}