.contact-us{
	top: 150px;
	right: 50px;
	position: fixed;
	width: 300px;
	height: 310px;
	background: rgb(180,205,220);
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.3), -5px -5px 20px rgba(0,0,0,0.3);
}
.contact-us input{
	width: 275px;
	height: 25px;
	padding: 10px;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}
.contact-us button{
	width: 300px;
	height: 50px;
	padding: 10px;
	font-size: 18px;
	margin-top: 10px;
	color: green;
	font-weight: bold;
}
.product-display{
	background-image: linear-gradient(rgba(230,250,250,0.5), rgba(200,230,230,0.8));
	margin-left: 100px;
	margin-bottom: 100px;
	margin-top: 10px;
	width: 1000px;
	height: 400px;
	border-radius: 20px;
	box-shadow: 1px 1px 20px rgba(0,0,0,0.3), -1px -1px 20px rgba(0,0,0,0.3);
}
#details-heading{
	font-size: 15px;
	font-family: "Arial Black";
	color: rgb(100,50,80);
}
#details-heading:hover{
	padding-left: 2px;
	transition: 0.5s;
}
#details-heading-small{
	font-size: 16px;
	font-family: "Arial";
	font-weight: bold;
	color: rgb(100,50,80);
}
.product-main{
	display: inline-flex;
}
.product-picture{
	background: url('/static/images/productPictureSample.jfif');
	width: 290px;
	height: 170px;
	background-repeat: no-repeat;
	border-top-left-radius: 10px;
	box-shadow: 5px 10px 20px rgba(0,0,0,0.3);
}
.product-main-details{
	font-size: 18px;
	font-family: "Arial";
	color: rgb(10,50,80);
}
.ratings{
	margin-left: 300px;
}
.product-secondary{
	display: inline-flex;
	margin-top: 30px;
	font-size: 18px;
	font-family: "Arial";
	color: rgb(10,50,80);
}
.product-secondary-details{
	margin-left: 100px;
}
.product-secondary-details a:hover{
	margin-left: 10px;
	transition: 0.5s;
}
.product-secondary-details a:hover::before{
	content: "-";
}
.product-secondary-details-second{
	margin-left: 100px;
}
.product-secondary-details-third{
	margin-left: 100px;
}
.products-secondary-further{
	margin-top: 20px;
	font-size: 18px;
	font-family: "Arial";
	color: rgb(10,50,80);
}
.product-features{
	background-image: linear-gradient(rgba(230,250,250,0.5), rgba(200,230,230,0.8));
	margin-left: 100px;
	margin-bottom: 100px;
	margin-top: -50px;
	padding-top: 10px;
	width: 1000px;
	height: 900px;
	border-radius: 20px;
	box-shadow: 10px 10px 20px rgba(0,0,0,0.3), -10px -10px 20px rgba(0,0,0,0.3);
	font-size: 18px;
	font-family: "Arial";
	color: rgb(10,50,80);
}
.product-features li{
	margin-left: 50px;
	margin-top: 10px;
}
.amenities{
	margin-left: 50px;
}
.amenities-details{
	display: inline-flex;
}
.amenities-detailed{
	width: 500px;
	border-right: 0.1px solid black;
}
.amenities-brief li{
	margin-bottom: 30px;
}