{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}<title>YesBroker | {{ title }}</title>{% else %}<title>Yes Broker</title>{% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block HeadBlock %}{% endblock %}
</head>
<body>
    <div class="BodyHead">
		<div class="topnav">
			<ul>
				<li><a href="/"><span class="fa fa-bars"></span>YesBroker.in</a></li>
				<li><a href="#">Properties</a></li>
				<li><a href="#">Developer/Society</a></li>
				<li><a href="#">Premium Services</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">&#x2295;Post Porperty</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</div>    
	    <div class="search">
	        <ul class="search-content">
	            <li><input id="search" type="text" placeholder="Search by properties, developers, localities"></li>
	            <li><button id="submit"><span class="fa fa-search"></span></button></li>
	            <li id="filter" class="filter-rating">Rating</li>
	            <li id="filter" class="filter-land-area">Land Area</li>
	            <li id="filter" class="filter-structure-age">Structure Age</li>
	        </ul>
	    </div>	
    	{% block BodyHead %}{% endblock %}
    </div>
    
    <div class="BodyMid">
    	{% block BodyMid %}{% endblock %}
    </div>
    
    <div class="BodyBottom">
    	{% block BodyBottom %}{% endblock %}
    </div>
</body>
</html>