{% load static %}<!DOCTYPE html>
<html>
<head>
	<title>yes broker - properties</title>
	<link rel="stylesheet" type="text/css" href="{% static '/css/propertyfeed.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="icon" href="{% static '/images/new/logo.jpeg' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="top-bar" id="top-bar">
		<ul>
			<li><a href="/"><img src="{% static '/images/logo.jpeg' %}" id="logo"></a></li>
			<li><a href="/propertyfeed/">Properties</a></li>
			<li><a href="#">Developer / Society</a></li>
			<li><a href="#">Premium Services</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#"><span class="fa fa-plus"> Post Property</span></a></li>
			<li><a href="#">Sign Up / Login</a></li>
		</ul>
	</div>
	<div class="property-display-upper">
		<li id="date-section">2,046 Properties for Sale in Delhi,&nbsp;<span id="date"> as on </span>.</li>
	</div>
	<div class="property-display-main">
		<div class="property-display-filter-section">
			<center><li>Filters</li></center>
			<li style="margin-left: 10px"><a href="/propertyfeed/">Clear All</a></li>
			
			<li class="filter-sub-heading">Type</li>
			<li class="filter-container"><a id="for sale" class="filter-unchecked" onclick="addParameters('for sale', 'true', this)">For Sale</a></li>
			<li class="filter-container"><a id="for rent" class="filter-unchecked" onclick="addParameters('for rent', 'true', this)">For Rent</a></li>

			<li class="filter-sub-heading">Age</li>
			<li class="filter-container"><a id="less than three years" class="filter-unchecked" onclick="addParameters('less than three years', 'true', this)">-3 years</a></li>
			<li class="filter-container"><a id="between 3 and 5 years" class="filter-unchecked" onclick="addParameters('between 3 and 5 years', 'true', this)">3 - 5 years</a></li>
			<li class="filter-container"><a id="between 5 and 8 years" class="filter-unchecked" onclick="addParameters('between 5 and 8 years', 'true', this)">5 - 8 years</a></li>
			<li class="filter-container"><a id="between 8 and 10 years" class="filter-unchecked" onclick="addParameters('between 8 and 10 years', 'true', this)">8 - 10 years</a></li>
			<li class="filter-container"><a id="above than 10 years" class="filter-unchecked" onclick="addParameters('above than 10 years', 'true', this)">10+ Years</a></li>
		</div>
		<div class="property-display-main-section">
			{% for property in properties %}
			<a href="#" class="property-display-template">
				<div class="property-picture">
					<center><li>{{ property.ratings }} <span class="fa fa-star"></span> in {{ property.reviews }} reviews</li></center>
					<li><img src="{% static 'images/productPictureSample.jfif' %}" id="property-picture"></li>
				</div>
				<div class="property-details-main">
					<div class="property-details-main-first">
						<li>
							<strong class="heading">{{ property.Developer }}</strong>&nbsp;&nbsp;
							<small><small>
								{% if property.RERA == "yes" %}
								RERA certified <span class="fa fa-tag"></span>
								{% else %}
								not certified
								{% endif %}
							</small></small>
						</li>
					</div>
					<div class="property-details-main-second">
						<li style="color: grey;">
							<small><span class="fa fa-location-arrow">{{ property.Society }}, {{ property.Sub_Locality }}, {{ property.Locality }}</span></small>
						</li>
						<li style="margin-top: 10px;color: rgb(10,10,10);font-size: 50px;">
							&#8377;{{ property.Price }}
						</li>
						<li>
							<span class="sub-heading">Age</span>{{ property.Age }} years
						</li>
						<li>
							<span class="sub-heading">Land</span>{{ property.land }}&nbsp;&nbsp;&nbsp;&nbsp;
							<span class="sub-heading">Blocks</span>{{ property.blocks }}&nbsp;&nbsp;&nbsp;&nbsp;
							<span class="sub-heading">Floors</span>{{ property.floors }}&nbsp;&nbsp;&nbsp;&nbsp;
							<span class="sub-heading">Units</span>{{ property.units }}
						</li>
						<li style="margin-top: 50px; color: rgb(50,50,100);">
							<small>
								<center>
									Here is a well-planned residential plot layout for sale with great investment returns in the prominent corridor of Ibrahipatnam with 12 X 20 Dimensions.<br>
									This East facing plot is available at a competitive price of Rs.1cr.<br>
									<strong>Call to book your plot in Ibrahipatnam as soon as possible!</strong><br><br>
									<span id="view-more">View More...</span>
								</center>
							</small>
						</li>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>

	<script>
	var dt = new Date();
	document.getElementById("date").innerHTML += ((("0"+dt.getDate()).slice(-2)) +"/"+ ("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (dt.getFullYear());
	window.onload = function(){
		for(let i in window.location.search.split('&')){
			var documentId = window.location.search.split('&')[i];
			while(documentId.includes("%")){
				documentId = documentId.replace("%", " ");
			}
			if(documentId.includes("?")){
				documentId = documentId.replace("?", "");
			}
			documentId = documentId.replace(documentId.slice(documentId.indexOf("="), documentId.length), "");
			document.getElementById(documentId).className = 'filter-checked';
		}
	};
	function addParameters(parameterKey, parameterValue, element){
		while(parameterKey.includes(' ')){
			parameterKey = parameterKey.replace(' ', '%');
		}
		while(parameterValue.includes(' ')){
			parameterValue = parameterValue.replace(' ', '%');
		}
		if(document.URL.includes("?")){
			if(document.URL.includes(parameterKey)){
				if(document.URL.charAt(document.URL.indexOf(parameterKey)-1)=="&" || !document.URL.includes("&")){
					window.location = document.URL.replace(document.URL.slice(document.URL.indexOf(parameterKey)-1,document.URL.indexOf(parameterKey) + parameterKey.length + parameterValue.length + 1), "");
				}
				else{
					window.location = document.URL.replace(document.URL.slice(document.URL.indexOf(parameterKey),document.URL.indexOf(parameterKey) + parameterKey.length + parameterValue.length + 2), "");
				}
			}
			else{
				window.location = document.URL + "&" + parameterKey + "=" + parameterValue;
			}
		}
		else{
			window.location = document.URL + "?" + parameterKey + "=" + parameterValue;
		}
	}
	</script>
</body>
</html>